- var images = "assets/images/";

header.container
    .row.content
        .col-12.col-lg-6.pt-4
            include ../_components/navigation

            .info.d-block.text-center.text-lg-start.pt-4

                p.pt-5.mb-0.text-center.text-lg-start
                    small HOME DESIGN

                h4.col-lg-8.pt-5.pb-3.px-5.px-lg-0.mx-2.mx-lg-0.mb-3 Elegance for Interiors & Exteriors


                p We provide everyone with modern, <br> trendy, quality furniture

                a(href="#intro") 
                    svg.d-lg-inline.d-none(width="50", height="50", viewBox="0 0 50 50", fill="none", xmlns="http://www.w3.org/2000/svg")
                        rect(x="1", y="1", width="48", height="48", rx="24", stroke="#A06056", stroke-width="2")
                        path(fill-rule="evenodd", clip-rule="evenodd", d="M17.2929 22.2071C16.9024 21.8166 16.9024 21.1834 17.2929 20.7929C17.6834 20.4024 18.3166 20.4024 18.7071 20.7929L25 27.0858L31.2929 20.7929C31.6834 20.4024 32.3166 20.4024 32.7071 20.7929C33.0976 21.1834 33.0976 21.8166 32.7071 22.2071L25.7071 29.2071C25.3166 29.5976 24.6834 29.5976 24.2929 29.2071L17.2929 22.2071Z", fill="#A06056")

                    svg.d-lg-none(width="50", height="51", viewBox="0 0 50 51", fill="none", xmlns="http://www.w3.org/2000/svg")
                        rect(x="1.00002", y="1.5", width="48", height="48", rx="24", stroke="white", stroke-width="2")
                        path(fill-rule="evenodd", clip-rule="evenodd", d="M17.2929 22.7071C16.9024 22.3166 16.9024 21.6834 17.2929 21.2929C17.6834 20.9024 18.3166 20.9024 18.7071 21.2929L25 27.5858L31.2929 21.2929C31.6834 20.9024 32.3166 20.9024 32.7071 21.2929C33.0976 21.6834 33.0976 22.3166 32.7071 22.7071L25.7071 29.7071C25.3166 30.0976 24.6834 30.0976 24.2929 29.7071L17.2929 22.7071Z", fill="white")
        .col-12.col-lg-6.bg-image.d-none.d-lg-block
