- var images = "assets/images/";

header.container
    .row.content
        .col-12.col-lg-6.pt-4
            include ../_components/navigation

            .info.d-block.text-center.text-lg-start.pt-4

                p.pt-5.mb-0.text-center.text-lg-start
                    small HOME DESIGN

                h4.col-lg-8.pt-5.pb-3.px-5.px-lg-0.mx-2.mx-lg-0.mb-3 Elegance for Interiors & Exteriors


                p We provide everyone with modern, <br> trendy, quality furniture

                a(href="#intro") 
                    svg.d-lg-inline.d-none(width="50", height="50", viewBox="0 0 50 50", fill="none", xmlns="http://www.w3.org/2000/svg")
                        rect(x="1", y="1", width="48", height="48", rx="24", stroke="#A06056", stroke-width="2")
                        path(fill-rule="evenodd", clip-rule="evenodd", d="M17.2929 22.2071C16.9024 21.8166 16.9024 21.1834 17.2929 20.7929C17.6834 20.4024 18.3166 20.4024 18.7071 20.7929L25 27.0858L31.2929 20.7929C31.6834 20.4024 32.3166 20.4024 32.7071 20.7929C33.0976 21.1834 33.0976 21.8166 32.7071 22.2071L25.7071 29.2071C25.3166 29.5976 24.6834 29.5976 24.2929 29.2071L17.2929 22.2071Z", fill="#A06056")

                    svg.d-lg-none(width="50", height="51", viewBox="0 0 50 51", fill="none", xmlns="http://www.w3.org/2000/svg")
                        rect(x="1.00002", y="1.5", width="48", height="48", rx="24", stroke="white", stroke-width="2")
                        path(fill-rule="evenodd", clip-rule="evenodd", d="M17.2929 22.7071C16.9024 22.3166 16.9024 21.6834 17.2929 21.2929C17.6834 20.9024 18.3166 20.9024 18.7071 21.2929L25 27.5858L31.2929 21.2929C31.6834 20.9024 32.3166 20.9024 32.7071 21.2929C33.0976 21.6834 33.0976 22.3166 32.7071 22.7071L25.7071 29.7071C25.3166 30.0976 24.6834 30.0976 24.2929 29.7071L17.2929 22.7071Z", fill="white")
        .col-12.col-lg-6.bg-image.d-none.d-lg-block.position-relative
            a.position-absolute.end-0.m-4(href="#") 
                svg(width="50", height="50", viewBox="0 0 50 50", fill="none", xmlns="http://www.w3.org/2000/svg")
                    rect(x="1", y="1", width="47.9959", height="48", rx="23.9979", stroke="white", stroke-width="2")
                    path(d="M36.1997 28.1844C36.1796 28.2143 36.1595 28.2444 36.139 28.274C35.8534 28.6918 35.8627 28.7464 35.9341 29.0365L36.9624 32.9531C36.973 32.993 36.9727 33.0349 36.9617 33.0746C36.9507 33.1142 36.9294 33.1503 36.8998 33.179C36.8703 33.2077 36.8336 33.2281 36.7937 33.2379C36.7537 33.2478 36.7118 33.2468 36.6723 33.2352L32.1794 31.9364C31.9537 31.8714 31.6705 31.9422 31.4894 32.0113C31.3083 32.0803 30.6085 32.3363 29.9022 32.5301C29.196 32.7239 27.9082 33.0112 26.9524 33.0112C20.9403 33.0112 16.2652 28.2113 16.2652 22.4429C16.2658 21.7242 16.3436 21.0076 16.4973 20.3056C17.5222 15.5684 21.8967 12 27.1405 12C33.1526 12 38.0146 16.6745 37.996 22.4371C37.9937 24.4477 37.3931 26.4121 36.2707 28.0802C36.2468 28.114 36.2233 28.1491 36.1997 28.1844Z", fill="white")
                    path(d="M26.9305 34.3687C27.3826 34.3609 27.8337 34.3212 28.2803 34.2497C28.3325 34.2416 28.3859 34.2502 28.4329 34.2743C28.4798 34.2985 28.5179 34.337 28.5415 34.3842C28.5652 34.4315 28.5732 34.485 28.5644 34.5371C28.5556 34.5891 28.5305 34.6371 28.4927 34.674C26.6609 36.3964 24.2388 37.3517 21.7244 37.3434C20.4181 37.3434 19.1118 37.0579 17.9308 36.5937C17.8128 36.5423 17.6859 36.5147 17.5572 36.5126C17.4285 36.5104 17.3007 36.5336 17.181 36.5809L13.2348 37.9876C13.1964 38.0007 13.1552 38.0035 13.1154 37.9957C13.0756 37.9879 13.0385 37.9698 13.0078 37.9432C12.9772 37.9166 12.9541 37.8824 12.9407 37.8441C12.9274 37.8057 12.9244 37.7646 12.9319 37.7247L13.7496 33.5313C13.7745 33.4187 13.6933 33.2498 13.55 33.0311C12.4065 31.3179 11.8701 29.271 12.0264 27.2172C12.1827 25.1634 13.0228 23.2212 14.4123 21.7008C14.4472 21.6626 14.493 21.6361 14.5435 21.6249C14.594 21.6136 14.6468 21.6182 14.6946 21.638C14.7424 21.6578 14.7829 21.6918 14.8107 21.7354C14.8385 21.7791 14.8522 21.8302 14.8499 21.8819L14.8498 21.8836C14.8435 22.0583 14.8371 22.2324 14.8371 22.4135C14.8371 25.0818 15.6623 27.6317 17.1758 29.6379C18.003 30.7867 19.0503 31.7596 20.2567 32.5001C22.1428 33.7187 24.4681 34.3687 26.9305 34.3687Z", fill="white")
