.navbar
    margin: 0 2rem
    &-brand
        font-size: 34px
        font-weight: 700
        line-height: 25px
        letter-spacing: 2px
        text-align: left
        color: #FFF !important

        @include lg
            color: $cp1 !important

    .navbar-toggler
        border: 0
    
    ul
        li 
            a
                @include lg
                    color: $cp3
.navbar-toggler-icon
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='13' viewBox='0 0 25 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.66'%3E%3Cpath d='M1.08262 1.5V0.5H24.72V1.5V2.5H1.08262V1.5Z' fill='white'/%3E%3Cpath d='M1.08262 11.5C1.08262 10.9477 0.266722 10.5 1.08262 10.5H24.72V11.5V12.5H1.08262C0.266722 12.5 1.08262 12.0523 1.08262 11.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A")