nav.navbar.navbar-expand-lg.navbar-dark
  .container-fluid.px-0
    a.navbar-brand.merriweather-bold(href="#") antic
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.me-auto.mb-2.mb-lg-0.pt-2
        li.nav-item.active
          a.nav-link(href="#") Producs
        li.nav-item
          a.nav-link(href="#") Rooms
        li.nav-item
          a.nav-link(href="#") Services
        li.nav-item
          a.nav-link(href="#") Inspirations
